body{
    margin:0px;
}
/*body header*/
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(images/mac.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*horizonta list*/
.horizontal-list{
    list-style: none;
    padding:0px ;
}
.horizontal-list li{
    display: inline-block;
    margin:  0px 8px 8px 8px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s,border-bottom 4s;

}
.horizontal-list li a:hover{
    color: red;
    border-bottom:1pX sloid white;
}    
.text-center{
    text-align: center; 
}
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3 rem;
    letter-spacing:0.cap;
    color:black;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50;
    color: black;
}
.social-icons li a i:hover{

    box-shadow: 0px 0px 6px 4px rgba(230,196);
}
#about{
    height:auto;
    width: 100%;
    position: relative;
}
#my-image{
    height:12 rem;
    width:12rem;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
#container{
    height:75vh;
    width: 75vh;
    background-color: black;
    display: flex;
    flex-direction: row;

}
#par{
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 18%;
    font-size: 1.5rem;
    font-style: italic;
}
/* skill section*/
.skills-display{
    width:70%;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
#skills-1{
    width: 75%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 15px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 20px;
}
section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}
section:target {
    background-color: rgb(200, 210, 166);
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400px;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-progress{
    width: 7rem;
    height:1.4rem;
    background-color:grey;
    border-radius: 0.8rem;
    /*border: 2px solid black;*/
}

.eighty-zero-percent{
    width: 60%;
    height: inherit;
}
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.seventy-percent{
    width: 70%;
    height: inherit;
}
.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}
.mb-blue{
    background-color: #c96098;
}
.mb-a{
    background-color: #8c316c;
}.mb-b{
    background-color: #2a705c;
}.mb-c{
    background-color: #d69d9d;
}
.mb-d{
    background-color: #8d51be;
}
.mb-y{
    background-color: #4e1616;
}


.timeline {
    position: relative;
    width: 75%;

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;

}

.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}
.text-colour h1{
    color: rgb(44, 44, 188) ;
}
.text-colour h3{
    color: orange;
}

